.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 60px;
}


.footer * {
    color: #B70E2A;
}


.footer h1 {
    font-size: 30px;
    padding-top: 20px;
}

.left-section {
    padding-left: 50px;
    flex: 1;
}

.right-section {
    flex: 1;
    text-align: right;
    padding-right: 50px;
}


.contatos a {
     display: block;
}

.redes i {
    font-size: 40px;
    padding: 3px;
    padding-top: 0px;
}

.redes p {
    margin-right: 10px;
}

.redes img {
    width: 80px; 
}

.watermark {
    padding-top: 90px;
}


@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .left-section, .right-section {
        padding: 0; 
        text-align: center;
    }

    .right-section {
        margin-top: 20px;
    }

    .redes {
        margin-top: 20px; 
    }
    
    .redes p {
        margin: 0 5px; 
    }
}