<div id="suporte" class="footer">
    <div class="left-section">
        <div class="support">
            <h1>Suporte</h1>
            <a href="tel:+559800133345">(98) 9 8001-33345</a>
            <a href="tel:+559800133345">(98) 9 8001-33345</a>
        </div>
        <div class="units">
            <h1>Unidades</h1>
            <p>
                <a href="https://www.google.com/maps/place/Escola+Psiquê+Nucleo+de+Aprendizagem+-+R.+Cinqüenta+e+Sete,+A+-+Vinhais,+São+Luís+-+MA,+65074-497/@-2.5114342,-44.2514916,19z/data=!4m6!3m5!1s0x7f68e0110cc5cc1:0xfa69854801b0518f!8m2!3d-2.5111179!4d-44.2512076!16s%2Fg%2F11dybmtrjl?hl=pt-BR&gl="
                 target="_blank">
                    Vinhais, Rua 81 a, CEP: 65088623 <br>
                    próximo à Praça do Letrado
                </a>
            </p>
        </div>
        <div class="work-with-us">
            <h1>Trabalhe conosco</h1>
            <a href="mailto:{{ 'curriculos.psique@hotmail.com' }}">{{ 'curriculos.psique@hotmail.com' }}</a>
        </div>
    </div>
    <hr>
    <div class="right-section">
        <div class="social-media">
            <p>Redes Sociais</p>
            <img src="../../../assets/psiquelogo.png" alt="">
            <a href="https://www.instagram.com/escolapsique?igsh=OG5oZ2Q3ZzZlZm9n" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://wa.me/559882048744" target="_blank">
                <i class="fa-brands fa-square-whatsapp"></i>
            </a>
            <a href="https://m.facebook.com/escolapsique/" target="_blank">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </div>
        <div class="watermark">
            <p>Escola Psiquê 2024 - All rights reserved <br>
                Criado por RavaTech 2024</p>
        </div>
    </div>
</div>