<div class="footer">
    <div class="left-section">
        <div class="contatos">
            <h1>Contatos</h1>
            <a href="tel:+559800133345">(98) 9 8001-33345</a>
            <a href="tel:+559800133345">(98) 9 8001-33345</a>
        </div>
        <div class="unidades">
            <h1>Unidades</h1>
            <p>Vinhais, Rua 81 a, CEP: 65088623 <br>
                próximo à Praça do Letrado</p>
        </div>
        <div class="trabalhe-conosco">
            <h1>Trabalhe conosco</h1>
            <a href="mailto:{{ 'curriculos.psique@hotmail.com' }}">{{ 'curriculos.psique@hotmail.com' }}</a>
        </div>
    </div>
    <hr>
    <div class="right-section">
        <div class="redes">
            <p>Redes Sociais</p>
            <img src="../../../assets/psiquelogo.png" alt="">
            <a href="https://www.instagram.com/escolapsique?igsh=OG5oZ2Q3ZzZlZm9n" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://wa.me/559882048744" target="_blank">
                <i class="fa-brands fa-square-whatsapp"></i>
            </a>
            <a href="https://m.facebook.com/escolapsique/" target="_blank">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
        </div>
        <div class="watermark">
            <p>Escola Psiquê 2024 - All rights reserved <br>
                Criado por RavaTech 2024</p>
        </div>
    </div>
</div>