<div class="portal">
    <img src="../../../assets/rematriculaimg.jpg" alt="">
    <div class="portal-content">
        <h2>Bem Vindo ao </h2>
        <h1>Portal <span>Psiquê</span>!</h1>
        <p>Não se preocupe, em nosso portal <br> 
            você tem acesso a todas as <br>
            informações que precisa!</p>
            
        <button (click)="redirecionarParaFormularioMatriculas()">Matrículas</button>
        <button>Boletim Aluno</button>
        <button (click)="redirecionarParaWhatsApp()">Atendimento Online</button>
    </div>
</div>
