<div class="body desktop-only">
    <div class="banner">
        <i class="fa-solid fa-angle-left"></i>
        <img src="../../../assets/bannerpsique.png" alt="">
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="projeto-inicial">
        <img src="../../../assets/projetoinicialpsique.png" alt="">
    </div>
    <div class="mission-values">
        <img src="../../../assets/values.png" alt="">
    </div>
    <div class="loc">
        <h1>Venha nos conhecer!</h1>
        <img src="../../../assets/psiquelocalizacao.png" alt="">
    </div>
    <div class="mural">
        <h1>Mural de avisos</h1>
        <img src="../../../assets/muralimg.png" alt="">
    </div>
    <div class="rematricula">
        <img src="../../../assets/rematriculaimg.png" alt="">
        <div class="texto1">
            <h1>Rematrícula</h1>
            <p>Faça sua rematrícula online <br> 
                através do nosso portal.</p>
            <button>Acessar Portal</button>
        </div>
        <div class="texto2">
            <p>No meio do caminho tinha uma pedra tinha <br> 
                uma pedra no meio do caminho tinha uma <br> 
                pedra no meio do caminho tinha uma pedra. <br> 
                Nunca me esquecerei desse acontecimento na <br> 
                vida de minhas retinas tão fatigadas. Nunca me <br>
                esquecerei que no meio do caminho tinha uma <br>
                pedratinha uma pedra no meio do caminho no <br> 
                meio do caminho tinha uma pedra.</p>
            <h1>Carlos Drummond de Andrade</h1>
        </div>
    </div>
</div>