.body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 50px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.banner img {
    width: 85%;
}

.banner i {
    font-size: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
}


.initial-project {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-project img {
    width: 100%;
}

.mission-values {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px; 
    
}

.mission-values img {
    width: 70%;
}


.location {
    position: relative;
    text-align: center;
    margin-top: 20px; 
    margin-right: 15vw;
    margin-left: 15vw;
    margin-bottom: 300px;
}

.location h1 {
    font-size: 70px;
    color: #B70E2A;
    margin-bottom: 100px; 
}

.location img {
    width: 100%;
    display: block;
}

.notifications-board {
    position: relative;
    text-align: center;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 300px;
}

.notifications-board h1 {
    font-size: 70px;
    color: #B70E2A;
    margin-bottom: 100px; 
}

.notifications-board-content {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

.notifications-board-content div {
    width: 100%; 
    height: 100%;
    display: inline-block; 
    margin: 15px;
    margin-bottom: 0px;
    border: 2px solid #B70E2A;
    border-radius: 30px;
    background-color: white; 
    overflow: hidden; 
    position: relative;
}

.notifications-board-content div p {
    font-size: 30px;
    color: white;
    padding: 15px;
    background-color: #B70E2A;
}

.notifications-board-content div img {
    max-width: 100%; 
    max-height: 100%; 
    display: block;
    margin: auto; 
}

.notifications-board-content div .see-more {
    position: absolute; 
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 50px; 
    background-color: #B70E2A; 
    color: white; 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
}


.registration {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #B70E2A, rgba(183, 14, 42, 0.658)); 
    overflow: hidden; 
}

.registration img {
    width: 100%;
    display: block;
}

.text-registration, .text-poem {
    position: absolute;
    color: #fff; 
    font-weight: bold; 
    text-align: center; 
}

.text-registration {
    text-align: left;
    top: calc(30%); 
    left: 5vw;
    max-width: calc(45vw - 5vw);
}

.text-registration h1 {
    font-size: 5vw;
}

.text-registration p {
    font-size: 2vw;
}

.text-registration button {
    margin-top: 20px;
    border-radius: 12px;
    padding: 30px;
    background-color: #8AB120;
    color: #fff;
    font-size: 2vw;
    border: none;
    cursor: pointer;
}

.text-poem {
    top: calc(20%);
    right: 5vw;
    background-color: #ffffff33;
    border-radius: 25px;
    padding: 50px;
}

.text-poem p {
    font-size: 2vw;
}


.text-poem h1 {
    font-style: italic;
    margin-top: 15px;
    font-size: 1.5vw;
}

@media only screen and (max-width: 768px) {
    .banner {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .banner i {
        font-size: 30px;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .mission-values {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 120px;
        padding-bottom: 100px;
        padding-left: 0px;
        padding-right: 0px;

    }

    .mission-values img {
        width: 100%;
    }

    .location {
        margin-right: 5vw;
        margin-left: 5vw;
        margin-bottom: 100px;
    }

    .location h1 {
        font-size: 40px;
        margin-bottom: 100px;
    }


    .notifications-board {
        margin-right: 5px;
        margin-left: 5px; 
        margin-bottom: 100px;
    }

    .notifications-board h1 {
        font-size: 40px;
        margin-bottom: 70px;
    }

    .notifications-board-content {
        position: relative;
        text-align: center;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        width: 100%;
    }
    
    .notifications-board-content div {
        width: 46%; 
        height: 100%;
        display: inline-block; 
        margin: 3px;
        margin-bottom: 15px;
        border: 2px solid #B70E2A;
        border-radius: 30px;
        background-color: white; 
        overflow: hidden; 
        position: relative;
    }
    
    .notifications-board-content div p {
        font-size: 10px;
        color: white;
        padding: 15px;
        background-color: #B70E2A;
    }
    
    .notifications-board-content div img {
        width: 100%; 
        height: 100%; 
        display: block;
        margin: auto; 
    }
    
    .notifications-board-content div .see-more {
        position: absolute; 
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 3px 7px; 
        background-color: #B70E2A; 
        color: white; 
        border: none;
        border-radius: 10px; 
        cursor: pointer; 
        font-size: 12px;
    }
    

    .registration {
        position: relative;
        width: 100%;

        overflow: hidden; 
    }
    
    .registration img {
        width: 100%;
        display: block;
    }
    
    .text-registration, .text-poem {
        position: absolute;
        top: 50%;
        color: #fff;       
        font-weight: bold; 
        text-align: center; 
    }
    
    .text-registration {
        text-align: left;
        top: calc(30%); 
        left: 5vw;
    }
    
    .text-registration h1 {
        font-size: 5vw;
    }
    
    .text-registration p {
        font-size: 3vw;
    }
    
    .text-registration button {
        margin-top: 10px;
        border-radius: 12px;
        padding: 2vw;
        background-color: #8AB120;
        color: #fff;
        font-size: 3vw;
        border: none;
    }
    
    .text-poem {
        top: calc(20%);
        right: 2vw;
        background-color: #ffffff33;
        border-radius: 25px;
        padding: 5vw;
    }

    .text-poem p {
        font-size: 2vw;
    }

    .text-poem h1 {
        font-size: 2vw;
        margin-top: 6px;
    }


}