.menu { 
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    padding: 20px;
    z-index: 2;
}

.opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes a {
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.logo { 
    width: 60px;
    height: 60px;
    justify-content: flex-start;
    margin-left: 6.7vw;
}

.redes {
    margin-right: 9vw;
}

.redes i {
    font-size: 30px;
    color: #B70E2A;
    padding: 3px;
}

.mobile-only {
    display: none;
}

.options_mobile {
    display: none;
}


@media only screen and (max-width: 768px) { 
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: inline;
    }

    .menu {
        height: auto;
        /* display: flex;
        align-items: center;
        justify-content: space-between; */
        position: fixed;
        padding: 0;
    }

    .logo {
        margin-left: 10px;
    }

    .menu-mobile {
        margin-left: 9vw;
    }

    .options_mobile {
        display: none;
        padding-bottom: 7px;
    }

    .options_mobile_content a {
        display: block;
        text-decoration: none; 
        color: inherit;
        padding: 3px;
    }

    .redes {
        display: flex;
        justify-content: center;
        margin-right: 6vw;
    }

    .redes i {
        font-size: 20px;
    }


    @keyframes slideAnimation {
        from {
            transform: translateX(var(--start, 0));
        }
        to {
            transform: translateX(var(--end, 0));
        }
    }


    .slideInDirAnimation {
        animation: slideAnimation 0.45s ease forwards;
        --start: 100%;
        --end: 0;
    }

    .slideInAnimation {
        animation: slideAnimation 0.45s ease forwards;
        --start: -100%;
        --end: 0;
    }

    @keyframes slideOutAnimation {
        from {
            transform: translateX(var(--start, 0));
        }
        to {
            transform: translateX(var(--end, 0));
        }
    }

    .slideOutAnimation {
        animation: slideOutAnimation 0.45s ease-in-out;
        --start: 0;
        --end: -100%;
    }

    .slideOutDirAnimation {
        animation: slideOutAnimation 0.45s ease-in-out;
        --start: 0;
        --end: 100%;
    }
}