<div class="menu">
    <div class="menu-mobile mobile-only" (click)="toggleMenuOpen()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="options_mobile" [ngClass]="{'slideInAnimation': isMenuOpen, 'slideOutAnimation': !isMenuOpen}">
        <div class="options_mobile_content mobile-only">
            <a href="#banner">Home</a>
            <a href="#sobre">Sobre a Escola</a> <!-- Link para a seção "Sobre a Escola" -->
            <a href="#avisos">Avisos</a>
            <a href="#rematricula">Matrículas</a>
        </div>
    </div>
    <img src="../../../assets/psiquelogo.jpg" alt="logo psiquê" class="logo">
    <div class="opcoes desktop-only">
        <a href="#banner">Home</a>
        <a href="#sobre">Sobre a Escola</a> <!-- Link para a seção "Sobre a Escola" -->
        <a href="#avisos">Avisos</a>
        <a href="#rematricula">Matrículas</a>
    </div>
    <div class="redes">
        <a href="https://www.instagram.com/escolapsique?igsh=OG5oZ2Q3ZzZlZm9n" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://wa.me/559882048744" target="_blank">
            <i class="fa-brands fa-square-whatsapp"></i>
        </a>
        <a href="https://m.facebook.com/escolapsique/" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
    </div>
</div>